section{
	section{
		section{
			div{
				div{

					img{


				
				
					




			box-shadow:  0.3em  0.3em 0.3em  pink;
				
	
}}}}}}
		
.shadow{
		box-shadow: 5em 1em black;
}

.button {
  
  background-color: transparent;
  border-color: white;
  text-decoration: none;
  color: white;
  padding:0.5em 2em ;
  text-align: center;
  display: inline-block;
  appearance: none;
  border-style: solid;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
      }
.button:hover, .button:focus {
	
    background-color:white;
    color: pink;
    text-decoration: none;
    outline: none;
     }
