$background__body: #F1A3B1;
$navBar__font:'Amatic SC', cursive;
$main__font:'Zen Antique Soft',serif;
$color__font__navBar: hotpink;
$background__color__navBar: white;
$color__precio__anterior: grey;
