#body{
	background-color:$background__body;
}
h1{
	text-align: center;
	background-color: pink;
	color: white;
	// font-size: 3vh;
	font-family: $navBar__font;
	text-transform: uppercase;
	font-weight: bold;
}
h2{
	background-color: pink;
	text-align: center;
	

}
h3{

}
*{

	font-family:$main__font;
}

.carta:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: all 1s;
}
